# Ignore a pasta .gradle
.gradle/

# Ignore arquivos de configuração do Gradle
gradle-wrapper.properties
build.gradle.kts
settings.gradle.kts

# Ignore a pasta de construção
/build/

# Ignore arquivos do Android Studio
.idea/

# Ignore arquivos de configuração de módulo do Android Studio
*.iml

# Ignore arquivos e pastas de build do NDK
.externalNativeBuild/
.cxx/

# Ignore arquivos de captura
/captures/

# Ignore arquivos locais que não devem ser versionados
local.properties

# Ignore arquivos do macOS
.DS_Store

# Ignore arquivos temporários criados pelo sistema
*~

# Ignore arquivos de log
*.log

# Ignore pastas de dependências do Android
.gradle/

# Ignore arquivos do Kotlin e seus respectivos caches
.kotlin/

# Ignore arquivos de configuração de código gerado
*.apk
*.ap_

# Ignore arquivos de cache do Gradle
.gradle/