# Ignorar pastas do Gradle
.gradle/

# Ignorar arquivos de configuração do Gradle
build.gradle.kts
gradle-wrapper.properties
settings.gradle.kts

# Ignorar arquivos locais
local.properties

# Ignorar pastas do Android Studio
.idea/

# Ignorar pastas de compilação
/build/

# Ignorar arquivos de configuração de módulo
*.iml

# Ignorar outros arquivos do Android Studio
/captures/
.externalNativeBuild/
.cxx/

# Arquivos do macOS (se você estiver em um sistema macOS)
.DS_Store